.feat {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: 15%;
    background-color: #242333;
}
.FP {
    text-align: center;
    color: aliceblue;
}
.sm {
    background-color: #242333;
    width: 65%;
    height: 75%;
    margin-left: 20%;
}

.tab {
    overflow: hidden;
    background-color: #242333;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tablinks {
    color: white;
}
.tablinks:hover {
    color: red;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #242333;
    border-bottom: 1px solid red;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.bar {
    width: 100%;
    margin-bottom: -1%;
}
.navi {
    width: 100%;
}
.something {
    
    background: url(./Group\ 1228.png) no-repeat,
             url(./fuck.jpg) repeat-y 100% 0; 
}
